<!--
File: home.html
Author: Gubis Zsombor Dániel
Copyright: 2022, Gubis Zsombor Dániel
Group: Szoft_I_N
Date: 2022-05-26
Github: https://github.com/Zsomi4/
Licenc: GNU GPL
-->
<h2>Testtömegindex kiszámítása</h2>

<form action="calc.php" method="get">
    <div>
        <label for="aside" class="form-label">Testtömeg (kg)</label>
        <input type="text" name="aside" id="aside"
        class="form-control">
    </div>
    <div>
        <label for="bside" class="form-label">Testmagasság (m)</label>
        <input type="text" name="bside" id="bside"
        class="form-control">
    </div>
    <button type="submit"
    class="btn btn-primary mt-3">Számít</button>
</form>